@model Datum
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <img src="@Model.album.cover_medium" class="card-img-top" alt="..." />


<div class="card-body">
    <h5 class="card-title">@Model.artist.name</h5>
    <p class="card-text">Album: @Model.album.title</p>
    <audio src="@Model.preview" controls>Play</audio>
</div>