@model Search
@{
    ViewData["Title"] = "Movie";
}

<h1>Detail</h1>

<div class="row">
    <div class="col-9">
        <p>@Model.Country</p>
        <p>@Model.Plot</p>
    </div>
    <div class=" col-3">
        <partial name="_MovieCardPartial" model="@Model"></partial>
    </div>
</div>

