@model Cinema

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="@Model.Poster"/>
    </div>
    <div class="col-md-8">
        <h5>Plot</h5>
        <p>@Model.Plot</p>
        <h5>Country</h5>
        <p>@Model.Country</p>
    </div>
</div>