@model MusicApiResponse
@{
    ViewData["Title"] = "Search";
}

@if (Model.total > 0)
{
    <h1>Search @ViewBag.SearchName</h1>
    @*<p>@ViewBag.Results</p>*@

    <div class="row">
        @foreach (Datum item in Model.data)
        {
            <div class="card col-3">
                <partial name="_MusicCardPartial" model="@item"></partial>
            </div>
        }
    </div>
}
else
{
    <h1>Not found</h1>
}



