@model MusicApiResponse
@{
    ViewData["Title"] = "Search";
}

@if (Model.total > 0)
{
    <h1>Search @ViewBag.SearchName</h1>
    @*<p>@ViewBag.Results</p>*@

    <div class="row">
        @foreach (Datum item in Model.data)
        {
            <div class="card col-3">
                <partial name="_MusicCardPartial" model="@item"></partial>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex align-content-center justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
else
{
    <h1>Not found</h1>
}



