@model MusicApiResponse
@{
    ViewData["Title"] = "Search";
}

@*@if (Model.Artist[0].Name != null)*@

    <h1>Search @ViewBag.SearchName</h1>
    @*<p>@ViewBag.Results</p>*@

    <div class="row">
        @foreach (Result item in Model.results)
        {
            <div class="card col-3">
                <partial name="_MusicCardPartial" model="@item"></partial>
            </div>
        }
    </div>



